/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
a,
textarea {
  outline: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, svg {
  max-width: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}

/* /reset */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/lato/Lato-Thin.woff2") format("woff2"), url("../fonts/lato/Lato-Thin.woff") format("woff"), url("../fonts/lato/Lato-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/lato/Lato-ExtraLight.woff2") format("woff2"), url("../fonts/lato/Lato-ExtraLight.woff") format("woff"), url("../fonts/lato/Lato-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato/Lato-Light.woff2") format("woff2"), url("../fonts/lato/Lato-Light.woff") format("woff"), url("../fonts/lato/Lato-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff"), url("../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/lato/Lato-Medium.woff2") format("woff2"), url("../fonts/lato/Lato-Medium.woff") format("woff"), url("../fonts/lato/Lato-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/lato/Lato-SemiBold.woff2") format("woff2"), url("../fonts/lato/Lato-SemiBold.woff") format("woff"), url("../fonts/lato/Lato-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato/Lato-Bold.woff2") format("woff2"), url("../fonts/lato/Lato-Bold.woff") format("woff"), url("../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/lato/Lato-Black.woff2") format("woff2"), url("../fonts/lato/Lato-Black.woff") format("woff"), url("../fonts/lato/Lato-Black.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato/Lato-ExtraBold.woff2") format("woff2"), url("../fonts/lato/Lato-ExtraBold.woff") format("woff"), url("../fonts/lato/Lato-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
/* settings */
a {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
}

body {
  min-width: 319px;
  background-color: #fff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 167.5%;
  color: #151519;
}
body.lock {
  overflow: hidden;
}

@media (max-width: 500px) {
  .mobile-hide {
    display: none !important;
  }
}

@media (min-width: 501px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .tablet-hide {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .tablet-visible {
    display: none !important;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
}
.row > * {
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 20px;
}
.row .gy {
  margin-top: -20px;
}
.row .gy > * {
  padding-top: 20px;
}

.wrapper {
  width: 100%;
  max-width: 1970px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-left: 15px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 15px;
  }
}

.no-gutter {
  margin-left: 0;
}
.no-gutter > * {
  padding-left: 0;
}

*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}

*::-webkit-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-moz-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.navpage h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.navpage ul {
  font-size: 18px;
}
.navpage ul li {
  margin: 10px 0;
}

/* /settings */
/* title */
.title {
  font-weight: 400;
  font-size: 30px;
  color: #828282;
  margin-bottom: 20px;
}
.title span {
  font-weight: bold;
  color: #151519;
}
.title--mb60 {
  margin-bottom: 60px;
}

/* /title */
/* counter */
.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}
.counter__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90px;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 30px;
  color: #828282;
  fill: #828282;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.counter__btn svg {
  width: 10px;
  height: 10px;
}
.counter__btn:hover {
  fill: #4163BC;
}
.counter__input {
  width: 78px;
  height: 95%;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  position: relative;
}
.counter__input input {
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  border: none;
  outline: none;
}

/* /counter */
/* btn */
.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 45px;
  background-color: #4163BC;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover {
  background-color: #002D76;
}

/* /btn */
/* main */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}
.main__left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 330px;
  padding: 22px 25px;
  border-right: 1px solid #F4F4F4;
}
.main__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 30px;
}
.main__logos li {
  margin-top: 20px;
}
.main__logos li:not(:last-child) {
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
}
.main__logos li:not(:last-child):after {
  content: "";
  display: block;
  width: 2px;
  height: 32px;
  background-color: #A9B0C6;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.main__logo img {
  display: block;
}
.main__right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.main__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 22px 25px 22px 30px;
  border-bottom: 1px solid #F4F4F4;
}
.main__right-bottom {
  padding: 30px;
}
.main__lang {
  margin-right: 40px;
  position: relative;
}
.main__lang-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: #828282;
  fill: #828282;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.main__lang-head svg {
  width: 13px;
  height: 8px;
  margin-left: 7px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.main__lang-head:hover, .main__lang-head.is-active {
  color: #4163BC;
  fill: #4163BC;
}
.main__lang-drop {
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.main__lang-drop.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.main__drop-list {
  padding: 14px 40px 14px 20px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: -1px 10px 22px rgba(63, 63, 63, 0.06);
  box-shadow: -1px 10px 22px rgba(63, 63, 63, 0.06);
  font-weight: 400;
  font-size: 14px;
}
.main__drop-list li a {
  display: block;
  color: #151519;
}
.main__drop-list li a:hover {
  color: #4163BC;
}

/* /main */
/* user-block */
.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.user-block__icons {
  margin-right: 45px;
}
.user-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
}
.user-block__list > * {
  margin-left: 20px;
  margin-top: 20px;
}
.user-block__list li a {
  display: block;
  fill: #828282;
}
.user-block__list li a svg {
  display: block;
  max-width: 17px;
  max-height: 17px;
}
.user-block__list li a:hover {
  fill: #4163BC;
}
.user-block__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

/* /user-block */
/* accordion */
.accordion__trigger {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion__content:not(.open) {
  display: none;
}

/* /accordion */
/* menu */
.menu {
  font-size: 14px;
  line-height: 135%;
}
.menu__list-2 {
  padding: 14px 20px 0 30px;
}
.menu__list-3 {
  padding: 14px 10px 0 20px;
}
.menu__list-4 {
  padding: 14px 10px 0 20px;
}
.menu__item-1 {
  margin: 14px 0;
}
.menu__item-1:first-child {
  margin-top: 0;
}
.menu__item-1:last-child {
  margin-bottom: 0;
}
.menu__item-2 {
  margin: 14px 0;
}
.menu__item-2:first-child {
  margin-top: 0;
}
.menu__item-2:last-child {
  margin-bottom: 0;
}
.menu__item-3 {
  margin: 14px 0;
}
.menu__item-3:first-child {
  margin-top: 0;
}
.menu__item-3:last-child {
  margin-bottom: 0;
}
.menu__item-4 {
  margin: 14px 0;
}
.menu__item-4:first-child {
  margin-top: 0;
}
.menu__item-4:last-child {
  margin-bottom: 0;
}
.menu__link-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 55px;
  padding: 8px 15px;
  background-color: #F8F8F8;
  border-radius: 5px;
  font-weight: 500;
  color: #828282;
  fill: #828282;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu__link-1 svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 13px;
  max-height: 13px;
  margin-right: 15px;
}
.menu__link-1:hover, .menu__link-1.active {
  background-color: #4163BC;
  color: #fff;
  fill: #fff;
}
.menu__link-2 {
  font-weight: 500;
  color: #151519;
}
.menu__link-2:hover {
  color: #4163BC;
}
.menu__link-3 {
  font-weight: 600;
  color: #151519;
}
.menu__link-3:hover {
  color: #4163BC;
}
.menu__link-4 {
  font-weight: 400;
  color: #828282;
}
.menu__link-4:hover {
  color: #4163BC;
}

.js-has-child > ul {
  display: none;
}

/* /menu */
/* categories */
.categories {
  margin-bottom: 40px;
}
.categories__title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.categories__items-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -20px;
}
.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 190px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 25px 40px;
  background-color: #F8F8F8;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  color: #151519;
  fill: #4163BC;
}
.categories__item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  max-width: 18px;
  max-height: 18px;
  margin-right: 15px;
}
.categories__item:hover {
  color: #4163BC;
}

/* /categories */
/* sort */
.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}
.sort__search {
  width: 100%;
  max-width: 510px;
  margin-right: 20px;
  position: relative;
}
.sort__search input {
  width: 100%;
  height: 40px;
  padding: 0 20px 0 45px;
  border: 1px solid #828282;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
}
.sort__search svg {
  width: 14px;
  height: 14px;
  fill: #828282;
  position: absolute;
  top: 13px;
  left: 20px;
  pointer-events: none;
}
.sort__search-drop {
  display: none;
  width: 100%;
  max-height: 200px;
  padding: 14px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: -1px 10px 22px rgba(63, 63, 63, 0.06);
  box-shadow: -1px 10px 22px rgba(63, 63, 63, 0.06);
  border-radius: 5px;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 14px);
  z-index: 5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sort__search-drop::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sort__search-drop li {
  color: #828282;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sort__search-drop li:hover {
  color: #4163BC;
}
.sort__search-drop.open {
  display: block;
}
.sort__controll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 14px;
}
.sort__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
}
.sort__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sort__item label {
  fill: #828282;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sort__item label:hover {
  fill: #828282;
  color: #828282;
}
.sort__item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 14px;
  height: 9px;
  margin-right: 10px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.sort__item input {
  position: absolute;
  visibility: hidden;
}
.sort__item input:checked ~ label {
  fill: #4163BC;
  color: #4163BC;
}
.sort__item:nth-child(2) {
  margin-left: 30px;
}
.sort__item:nth-child(2) svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sort__checkbox {
  margin-right: 30px;
}
.sort__checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sort__checkbox label:hover .sort__checkbox-circle {
  border-color: #4163BC;
}
.sort__checkbox input {
  position: absolute;
  visibility: hidden;
}
.sort__checkbox input:checked ~ label .sort__checkbox-circle {
  border-color: #4163BC;
}
.sort__checkbox input:checked ~ label .sort__checkbox-circle:after {
  opacity: 1;
}
.sort__checkbox-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border-radius: 100%;
  border: 1px solid #828282;
  position: relative;
}
.sort__checkbox-circle:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #4163BC;
  opacity: 0;
}
.sort__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
}
.sort__count-item {
  margin-left: 10px;
}
.sort__count-item label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sort__count-item input {
  position: absolute;
  visibility: hidden;
}
.sort__count-item input:checked ~ label {
  color: #4163BC;
}
.sort__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #F8F8F8;
}
.sort__view-icon:nth-child(1) {
  margin-right: 7px;
}
.sort__view-icon svg {
  width: 12px;
  height: 12px;
}
.sort__view-icon label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: #D9D9D9;
}
.sort__view-icon label:hover {
  fill: #4163BC;
}
.sort__view-icon input {
  position: absolute;
  visibility: hidden;
}
.sort__view-icon input:checked ~ label {
  fill: #828282;
}
.sort__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 35px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: #F8F8F8;
  fill: #828282;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.sort__cart svg {
  width: 18px;
  height: 18px;
}
.sort__cart span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background-color: #4163BC;
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.sort__cart:hover {
  fill: #4163BC;
}

/* /sort */
/* products */
.products {
  border-left: 1px solid #D9D9D9;
}
.products__col {
  width: 33.3333333333%;
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
.products__col:nth-child(n+4) {
  border-top: none;
}
.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  padding: 20px 30px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.products__item--nostock .products__instock:before {
  background-color: #EB5757;
}
.products__item--soonstock .products__instock:before {
  background-color: #F2994A;
}
.products__item--noimage .products__title {
  margin-bottom: 30px;
}
.products__item--noimage .products__row {
  margin-bottom: 20px;
}
.products__item--noimage .products__num {
  margin-right: 40px;
}
.products__item--noimage .products__instock {
  margin-right: 40px;
}
.products__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 120px;
  margin-right: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.products__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.products__img img {
  max-height: 100%;
}
.products__counter {
  margin-top: auto;
}
.products__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
}
.products__title {
  font-weight: 700;
  font-size: 18px;
}
.products__title span:hover {
  color: #4163BC;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.products__name {
  width: 90%;
  font-weight: 600;
  font-size: 16px;
  color: #828282;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: auto;
}
.products__num {
  font-weight: 300;
  margin-right: 50px;
  color: #828282;
}
.products__num span {
  font-weight: 500;
}
.products__instock {
  position: relative;
  padding-left: 10px;
  color: #828282;
}
.products__instock:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #219653;
  position: absolute;
  top: 12px;
  left: 0;
}
.products__price {
  font-weight: 700;
  font-size: 16px;
}

/* /products */
/* modal */
.modal {
  max-width: 1150px;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -4000px;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  right: 0;
}
.modal.open + .modal__overlay {
  visibility: visible;
  opacity: 1;
}
.modal__overlay {
  background-color: rgba(72, 74, 76, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 8;
}

/* /modal */
/* cart */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}
.cart__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding: 50px 0;
}
.cart__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 30px;
}
.cart__subhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
.cart__title {
  font-weight: 700;
  font-size: 24px;
}
.cart__result {
  font-weight: 700;
  font-size: 24px;
  margin-left: auto;
}
.cart__close {
  padding-left: 15px;
  color: #828282;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.cart__close:hover {
  color: #4163BC;
}
.cart__close:hover .cart__cross:after, .cart__close:hover .cart__cross:before {
  background-color: #4163BC;
}
.cart__cross {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.cart__cross:after, .cart__cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #828282;
  position: absolute;
  top: 55%;
  left: 50%;
}
.cart__cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.cart__cross:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cart__arrange {
  max-width: 450px;
  min-height: 100vh;
  padding: 50px 40px;
  border-left: 1px solid #D9D9D9;
}
.cart__all {
  color: #828282;
  margin-bottom: 30px;
}
.cart__text {
  font-weight: 500;
  margin-bottom: 30px;
}
.cart__btn {
  width: 100%;
  padding: 15px 45px;
  font-size: 18px;
}
.cart__items {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 30px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cart__items::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 670px;
  padding: 20px 42px 20px 0;
  position: relative;
  min-width: 0;
}
.cart__item:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #D9D9D9;
  position: absolute;
  right: -30px;
  left: -30px;
  bottom: 0;
}
.cart__item--noimage {
  max-width: 510px;
}
.cart__item--noimage .cart__subtitle {
  font-size: 20px;
}
.cart__item--noimage .cart__name {
  font-size: 16px;
}
.cart__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 160px;
  border-radius: 10px;
  overflow: hidden;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 30px;
}
.cart__img img {
  max-height: 100%;
}
.cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
}
.cart__subtitle {
  font-weight: 700;
  font-size: 18px;
}
.cart__name {
  font-weight: 600;
  font-size: 18px;
  color: #828282;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.cart__num {
  font-weight: 300;
  font-size: 16px;
  color: #828282;
  margin-bottom: 20px;
}
.cart__num span {
  font-weight: 500;
}
.cart__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: auto;
}
.cart__stock {
  margin-right: 35px;
  padding-left: 10px;
  color: #828282;
  position: relative;
}
.cart__stock:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #219653;
  position: absolute;
  top: 12px;
  left: 0;
}
.cart__price {
  font-weight: bold;
  margin-right: 50px;
}
.cart__counter {
  margin-left: auto;
}
.cart__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #FFE2E1;
  fill: #EB5757;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.cart__delete svg {
  width: 17px;
  height: 17px;
}
.cart__delete:hover {
  background: transparent;
}
.cart--nostock .cart__img {
  pointer-events: none;
  opacity: 0.5;
}
.cart--nostock .cart__content {
  pointer-events: none;
  opacity: 0.5;
}
.cart--nostock .cart__stock {
  color: #EB5757;
  padding-left: 0;
}
.cart--nostock .cart__stock:before {
  display: none;
}
.cart--soonstock .cart__stock:before {
  background-color: #EB5757;
}

/* /cart */
/* product */
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 100px 40px 40px;
}
.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 240px;
  height: 210px;
  margin-right: 50px;
  border-radius: 10px;
  overflow: hidden;
}
.product__img img {
  max-height: 100%;
}
.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-height: calc(100vh - 140px);
}
.product__close {
  position: absolute;
  top: 30px;
  right: 35px;
  padding-left: 15px;
  color: #828282;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product__close:hover {
  color: #4163BC;
}
.product__close:hover .product__cross:after, .product__close:hover .product__cross:before {
  background-color: #4163BC;
}
.product__cross {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 0;
}
.product__cross:after, .product__cross:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #828282;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.product__cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.product__cross:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.product__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 20px;
}
.product__name {
  font-weight: 600;
  font-size: 24px;
  color: #828282;
  margin-bottom: 45px;
}
.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 25px;
}
.product__num {
  margin-right: 50px;
  font-weight: 300;
  color: #828282;
}
.product__num span {
  font-weight: 500;
}
.product__stock {
  margin-right: 50px;
  color: #828282;
}
.product__price {
  margin-right: 60px;
  font-weight: bold;
}
.product__counter input {
  color: #828282;
}
.product__text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-weight: 400;
  font-size: 18px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.product__text::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.product__text p {
  margin: 20px 0;
}
.product--noimage {
  max-width: 830px;
}

/* /product */
/* products-table */
.products-table__table {
  width: 100%;
}
.products-table__table th {
  font-weight: 500;
  -moz-text-align-last: left;
  text-align-last: left;
}
.products-table__table td {
  padding: 20px 10px;
  vertical-align: middle;
}
.products-table__table td:first-child {
  padding-left: 30px;
}
.products-table__table td:last-child {
  padding-right: 30px;
}
.products-table__item {
  border-bottom: 1px solid #D9D9D9;
}
.products-table__item--nostock .products-table__stock:before {
  background-color: #EB5757;
}
.products-table__item--soonstock .products-table__stock:before {
  background-color: #F2994A;
}
.products-table__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 110px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
.products-table__img img {
  max-height: 100%;
}
.products-table__title {
  max-width: 400px;
  font-weight: 700;
  font-size: 18px;
}
.products-table__title-span {
  display: inline !important;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.products-table__title-span:hover {
  color: #4163BC;
}
.products-table__name {
  max-width: 300px;
  font-weight: 600;
  color: #828282;
}
.products-table__num {
  font-weight: 500;
  color: #828282;
  white-space: nowrap;
}
.products-table__stock {
  padding-left: 10px;
  color: #828282;
  position: relative;
  white-space: nowrap;
}
.products-table__stock:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #219653;
  position: absolute;
  top: 12px;
  left: 0;
}
.products-table__price {
  font-weight: bold;
  white-space: nowrap;
}
.products-table__counter .counter {
  margin-left: auto;
}
.products-table--noimage .products-table__table {
  border-top: 1px solid #D9D9D9;
  border-left: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
}
.products-table--noimage .products-table__table th {
  padding: 14px 10px;
  border-bottom: 1px solid #D9D9D9;
}
.products-table--noimage .products-table__table th:first-child {
  padding-left: 30px;
}
.products-table--noimage .products-table__table th:last-child {
  padding-right: 30px;
}
.products-table--noimage .products-table__name {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* /products-table */