doctype html
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="robots" content="noindex, nofollow")

    block title

    //- link(rel="stylesheet", href="css/plugins/bootstrap-grid.min.css")
    //- link(rel="stylesheet", href="css/plugins/fullpage.css")
    //- link(rel="stylesheet", href="css/plugins/hamburgers.min.css")
    //- link(rel="stylesheet", href="css/plugins/jquery.fancybox.min.css")
    //- link(rel="stylesheet", href="css/plugins/jquery.mmenu.all.css")
    //- link(rel="stylesheet", href="css/plugins/jquery.scrollbar.css")
    //- link(rel="stylesheet", href="css/plugins/tooltipster.bundle.min.css")
    //- link(rel="stylesheet", href="css/plugins/aos.css")
    //- link(rel="stylesheet", href="css/plugins/swiper-bundle.min.css")
    link(rel="stylesheet", href="css/plugins/air-datepicker.css")
    //- link(rel="stylesheet", href="css/plugins/magnific-popup.css")
    //- link(rel="stylesheet", href="css/plugins/nouislider.min.css")
    link(rel="stylesheet", href="css/plugins/select2.min.css")

    link(rel="stylesheet" href="css/style.css")

  body 

    .main 
      .main__left 

        ul.main__logos
          li  
            a(href="#").main__logo 
              img(src="img/logo-oak.svg", alt="")
          li 
            a(href="#").main__logo 
              img(src="img/logo-rapart.svg", alt="")

        // menu
        .menu
          ul.menu__list-1
            li.menu__item-1.js-has-child 
              a(href="#").menu__link-1 
                svg(class="icon-message")
                  use(xlink:href="img/sprite.svg#message")
                | Материально-техническое обеспечение
              ul.menu__list-2
                li.menu__item-2
                  a(href="#").menu__link-2 Документация МТО
                li.menu__item-2
                  a(href="#").menu__link-2 Рекомендуемый поставщик услуг МТО
                li.menu__item-2.js-has-child 
                  a(href="#").menu__link-2 Личный кабинет РАпарт
                  ul.menu__list-3 
                    li.menu__item-3.js-has-child 
                      a(href="#").menu__link-3 Поставка
                      ul.menu__list-4 
                        li.menu__item-4
                          a(href="#").menu__link-4 Каталог
                        li.menu__item-4
                          a(href="#").menu__link-4 Отправить заявку
                        li.menu__item-4
                          a(href="#").menu__link-4 Заявки
                        li.menu__item-4
                          a(href="#").menu__link-4 Заказы
                    li.menu__item-3.js-has-child 
                      a(href="#").menu__link-3 Ремонт / Обмен / Аренда
                        ul.menu__list-4 
                          li.menu__item-4 
                            a(href="#").menu__link-4 Отправить заявку
                          li.menu__item-4 
                            a(href="#").menu__link-4 Заявки
                          li.menu__item-4 
                            a(href="#").menu__link-4 Заказы
                    li.menu__item-3.js-has-child 
                      a(href="#").menu__link-3 Сервисное соглашение
                        ul.menu__list-4 
                          li.menu__item-4 
                            a(href="#").menu__link-4 Отправить заявку
                          li.menu__item-4 
                            a(href="#").menu__link-4 Уровень сервиса
                          li.menu__item-4 
                            a(href="#").menu__link-4 Заказы
                          li.menu__item-4 
                            a(href="#").menu__link-4 Обмен правами
                          li.menu__item-4 
                            a(href="#").menu__link-4 Финансовая информация
                    li.menu__item-3
                      a(href="#").menu__link-3 Счета
            li.menu__item-1
              a(href="#").menu__link-1 
                svg(class="icon-headphones")
                  use(xlink:href="img/sprite.svg#headphones")
                | Оперативно-ситуационный центр
            li.menu__item-1
              a(href="#").menu__link-1 
                svg(class="icon-hammer")
                  use(xlink:href="img/sprite.svg#hammer")
                | Техническое обслуживание
        // /menu

      .main__right 
        .main__right-top 
          .main__lang 
            .main__lang-head.js-drop-btn(data-drop="langMenu") RUS
              svg(class="icon-arrow-down")
                use(xlink:href="img/sprite.svg#arrow-down")
            .main__lang-drop#langMenu 
              ul.main__drop-list 
                li 
                  a(href="#") En
                li 
                  a(href="#") GER 
                li 
                  a(href="#") ITA
                li 
                  a(href="#") FR

          // user-block
          .user-block
            .user-block__icons 
              ul.user-block__list 
                li 
                  a(href="#") 
                    svg(class="icon-man")
                      use(xlink:href="img/sprite.svg#man")
                li 
                  a(href="#") 
                    svg(class="icon-bell")
                      use(xlink:href="img/sprite.svg#bell")
            .user-block__name Романенко Н.А
          // /user-block

        .main__right-bottom 

          block content

    script(src="js/jquery.min.js") 
    //- script(src="js/plugins/jquery.fancybox.min.js")
    //- script(src="js/plugins/jquery.matchHeight-min.js")
    //- script(src="js/plugins/jquery.inputmask.min.js")
    //- script(src="js/plugins/autosize.min.js")
    //- script(src="js/plugins/tooltipster.bundle.min.js")
    //- script(src="js/plugins/jquery.mmenu.min.all.js")
    //- script(src="js/plugins/fullpage.min.js")
    //- script(src="js/plugins/jquery.vide.min.js")
    //- script(src="js/plugins/jquery.scrollbar.min.js")
    //- script(src="js/plugins/aos.js")
    //- script(src="js/plugins/circle-progress.min.js")
    //- script(src="js/plugins/bootstrap.bundle.min.js") 
    //- script(src="js/plugins/swiper-bundle.min.js") 
    script(src="js/plugins/air-datepicker.js") 
    //- script(src="js/plugins/jquery.magnific-popup.min.js") 
    //- script(src="js/plugins/sticky-sidebar.js") 
    //- script(src="js/plugins/nouislider.min.js") 
    //- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    //- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")
    script(src="js/plugins/select2.min.js") 

    script(src="js/scripts.js")