extends core/base.pug

block title 
  title Уровень сервиса

block content

  // breadcrumbs
  .breadcrumbs
    ul 
      li 
        a(href="#") Материально-техническое обеспечение
      li 
        a(href="#") Личный кабинет РАпарт
      li 
        a(href="#") Сервисное соглашение
      li 
        span Уровень сервиса
  // /breadcrumbs

  include blocks/filter.pug
  +filter('', '', 'period', 'deleteIcon')

  // chart
  .chart
    .chart__head 
      .chart__title Статистика уровня сервиса
      .chart__item.chart__item--serv Уровень сервиса по передаче SERV
      .chart__item.chart__item--unserv Уровень сервиса по возврату UNSERV
    .chart__body 
      #chartStatistics
  // /chart