extends core/base.pug

block title 
  title Уровень сервиса за день

block content

  // breadcrumbs
  .breadcrumbs
    ul 
      li 
        a(href="#") Материально-техническое обеспечение
      li 
        a(href="#") Личный кабинет РАпарт
      li 
        a(href="#") Сервисное соглашение
      li 
        span Уровень сервиса
  // /breadcrumbs

  include blocks/filter.pug
  +filter('', '', 'period', 'deleteIcon')

  // chart
  .chart
    .chart__head 
      .chart__title Статистика уровня сервиса
      .chart__item.chart__item--serv Уровень сервиса по передаче SERV
      .chart__item.chart__item--unserv Уровень сервиса по возврату UNSERV
    .chart__body 
      #chartStatisticsForDay
  // /chart

  // pies
  .pies
    .row 
      .pies__col 
        .pies__block 
          .pies__head Заказы по категориям за период
          .pies__body 
            .pies__bigpie 
              #piePeriod 
            .pies__smallpies 
              .pies__smallpies-item 
                .pies__circle.pies__circle--green 
                .pies__percent 28%
                .pies__name MEL C
              .pies__smallpies-item 
                .pies__circle.pies__circle--red 
                .pies__percent 14%
                .pies__name MEL A
              .pies__smallpies-item 
                .pies__circle.pies__circle--violet 
                .pies__percent 12%
                .pies__name MEL B
              .pies__smallpies-item 
                .pies__circle.pies__circle--yellow 
                .pies__percent 7%
                .pies__name AOG
              .pies__smallpies-item 
                .pies__circle.pies__circle--blue 
                .pies__percent 32%
                .pies__name MEL D
              .pies__smallpies-item 
                .pies__circle.pies__circle--orange 
                .pies__percent 7%
                .pies__name REP...
      .pies__col 
        .pies__block 
          .pies__head Заказы по категориям за период
          .pies__body 
            .pies__bigpie 
              #pieOpen 
            .pies__smallpies 
              .pies__smallpies-item 
                .pies__circle.pies__circle--green 
                .pies__percent 28%
                .pies__name MEL C
              .pies__smallpies-item 
                .pies__circle.pies__circle--red 
                .pies__percent 4%
                .pies__name MEL A
              .pies__smallpies-item 
                .pies__circle.pies__circle--violet 
                .pies__percent 31%
                .pies__name MEL B
              .pies__smallpies-item 
                .pies__circle.pies__circle--yellow 
                .pies__percent 7%
                .pies__name AOG
              .pies__smallpies-item 
                .pies__circle.pies__circle--blue 
                .pies__percent 22%
                .pies__name MEL D
              .pies__smallpies-item 
                .pies__circle.pies__circle--orange 
                .pies__percent 8%
                .pies__name REP...
  // /pies