extends core/base.pug

block title 
  title Навигация по страницам

block content

  .navpage 
    .wrapper
      h1 Навигация по страницам
      ul 
        li 
          a(href="main.html") Главная
        li 
          a(href="products.html") Товары