extends core/base.pug

block title 
  title Навигация по страницам

block content

  .navpage 
    .wrapper
      h1 Навигация по страницам
      ul 
        li 
          a(href="main.html") Главная
        li 
          a(href="products-tail.html") Товары (плитка)
        li 
          a(href="products-tail-noimage.html") Товары (плитка без фото)
        li 
          a(href="products-table.html") Товары (список)
        li 
          a(href="products-table-noimage.html") Товары (список без фото)
        li
          a(href="requests.html") Заявки 
        li 
          a(href="orders.html") Заказы
        li 
          a(href="orders-pul.html") Заказы ПУЛ
        li 
          a(href="orders-open.html") Открытые заказы
        li 
          a(href="charts.html") Уровень сервиса
        li 
          a(href="charts-forday.html") Уровень сервиса за день
        li 
          a(href="send-order.html") Отправить заказ
        li 
          a(href="send-request.html") Отправить заявку
        li 
          a(href="send-request-2.html") Отправить заявку 2