extends core/base.pug

block title 
  title Главная

block content

  // breadcrumbs
  .breadcrumbs
    ul 
      li 
        a(href="#") Материально-техническое обеспечение
      li 
        span Личный кабинет РАпарт
  // /breadcrumbs

  // categories
  .categories
    .categories__title Поставка
    .categories__items 
      .categories__items-row 
        a(href="#").categories__item 
          svg(class="icon-rectangles")
            use(xlink:href="img/sprite.svg#rectangles")
          | Каталог
        a(href="#").categories__item 
          svg(class="icon-message-plus")
            use(xlink:href="img/sprite.svg#message-plus")
          | Отправить заявку
        a(href="#").categories__item 
          svg(class="icon-folder")
            use(xlink:href="img/sprite.svg#folder")
          | Заявки
        a(href="#").categories__item 
          svg(class="icon-list")
            use(xlink:href="img/sprite.svg#list")
          | Заказы
  // /categories

  // categories
  .categories
    .categories__title Ремонт / Обмен / Аренда
    .categories__items 
      .categories__items-row 
        a(href="#").categories__item 
          svg(class="icon-message-plus")
            use(xlink:href="img/sprite.svg#message-plus")
          | Отправить заявку
        a(href="#").categories__item 
          svg(class="icon-folder")
            use(xlink:href="img/sprite.svg#folder")
          | Заявки
        a(href="#").categories__item 
          svg(class="icon-list")
            use(xlink:href="img/sprite.svg#list")
          | Заказы
  // /categories

  // categories
  .categories
    .categories__title Сервисное соглашение
    .categories__items 
      .categories__items-row 
        a(href="#").categories__item 
          svg(class="icon-message-plus")
            use(xlink:href="img/sprite.svg#message-plus")
          | Отправить заказ
        a(href="#").categories__item 
          svg(class="icon-chart")
            use(xlink:href="img/sprite.svg#chart")
          | Уровень сервиса
        a(href="#").categories__item 
          svg(class="icon-list")
            use(xlink:href="img/sprite.svg#list")
          | Заказы
        a(href="#").categories__item 
          svg(class="icon-arrows")
            use(xlink:href="img/sprite.svg#arrows")
          | Обмен правами
        a(href="#").categories__item 
          svg(class="icon-cash")
            use(xlink:href="img/sprite.svg#cash")
          | Финансовая информация
  // /categories

  // categories
  .categories
    .categories__title Счета
    .categories__items 
      .categories__items-row 
        a(href="#").categories__item 
          svg(class="icon-directory")
            use(xlink:href="img/sprite.svg#directory")
          | Счета
  // /categories

