extends core/base.pug

block title 
  title Главная

block content

  .main 
    .main__left 
      ul.main__logos
        li  
          a(href="#").main__logo 
            img(src="img/logo-oak.svg", alt="")
        li 
          a(href="#").main__logo 
            img(src="img/logo-rapart.svg", alt="")

    .main__right 
      .main__right-top 
      .main__right-bottom 
        h1.title Материально-техническое обеспечение - 
          span Личный кабинет РАпарт

