extends core/base.pug

block title 
  title Открытые заказы

block content

  // breadcrumbs
  .breadcrumbs
    ul 
      li 
        a(href="#") Материально-техническое обеспечение
      li 
        a(href="#") Личный кабинет РАпарт
      li 
        a(href="#") Поставка
      li 
        span Заказы
  // /breadcrumbs

  include blocks/sort.pug
  +sort

  include blocks/filter.pug
  +filter('moreBtn', 'moreRadio')

  // table
  .table
    table.table__table

      tr 
        th 
          .table__table-title Заказ
        th 
          .table__table-title Поступил/ Плановое 
        th 
          .table__table-title PN SN SERV
        th 
          .table__table-title ПозPN SN UNSERVиция
        th 
          .table__table-title Факт SERV/UNSERV 
        th 
          .table__table-title Срок UNSERV 
        th 
          .table__table-title Обмена правами

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да

      tr.table__item.table__item--border-bottom
        td 
          .table__table-text PR0112422
          .table__drop-small-text CRIT B (MEL B)
          .table__gray-status.table__gray-status--issued Открыт
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 762918-1-0 / 2432A00LI000602
          .table__drop-gray-text Датчик топлива T2 J6
        td 
          .table__table-text 25.02.2022 | 13:26
          .table__table-text 25.02.2022 | 13:26
        td 
          .table__table-text 44 дн
        td 
          .table__table-text Да
  // /table

  // pagination
  .pagination
    a(href="#").pagination__arrow.pagination__arrow--prev 
      svg(class="icon-arrow-down")
        use(xlink:href="img/sprite.svg#arrow-down")
    ul.pagination__list 
      li 
        a(href="#") 1
      li 
        a(href="#") 2
      li 
        a(href="#").active 3
      li 
        a(href="#") 4
      li 
        a(href="#") 5
      li 
        span ...
      li 
        a(href="#") 12
    a(href="#").pagination__arrow.pagination__arrow--next 
      svg(class="icon-arrow-down")
        use(xlink:href="img/sprite.svg#arrow-down")
  // /pagination

  // modal
  .modal#cartModal
    // cart
    .cart
      .cart__products 
        .cart__head 
          .cart__title Корзина
          .cart__close.js-drop-close(data-drop="cartModal") Скрыть
            .cart__cross 
        .cart__items 
          include blocks/cart-item.pug
          +cart-item('img/products/image-1.jpg', '9005000-55102', 'Компьютер T3CAS', 'Кол-во:  <span>44 шт</span>', 'Нет в наличии', 'от 200 000₽', 'cart--nostock')
          +cart-item('img/products/image-2.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Шайба', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '157 890₽', 'cart--soonstock')
          +cart-item('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Развертка ручная цилиндрическая', 'Кол-во:  <span>12 шт</span>', 'В наличии', '157 890₽')
          +cart-item('img/products/image-9.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Розетка', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '185 800₽', 'cart--soonstock')
          +cart-item('img/products/image-3.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменног...', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '157 890₽', 'cart--soonstock')
      .cart__arrange 
        .cart__subhead 
          .cart__title Общая сумма
          .cart__result 530 820₽
        .cart__all Всего товаров 6 шт
        .cart__text После отправки запроса менеджер свяжется с Вами в ближайшее время
        .cart__btn.btn Оформить заказ
    // /cart
  .modal__overlay
  // /modal