extends core/base.pug

block title 
  title Товары

block content

  h1.title.title--mb60 Материально-техническое обеспечение - Личный кабинет РАпарт - Поставка - 
    span Каталог

  // sort
  form(action="#").sort
    .sort__search 
      input(type="text")
      svg(class="icon-search")
        use(xlink:href="img/sprite.svg#search")
    .sort__controll 
      .sort__items 
        .sort__item 
          input#sortCount_less(type="radio" name="sortCount")
          label(for="sortCount_less") 
            svg(class="icon-pyramid")
              use(xlink:href="img/sprite.svg#pyramid")
            | По убыванию
        .sort__item 
          input#sortCount_more(type="radio" name="sortCount")
          label(for="sortCount_more") 
            svg(class="icon-pyramid")
              use(xlink:href="img/sprite.svg#pyramid")
            | По возрастанию
      .sort__checkbox 
        input#inStock(type="checkbox")
        label(for="inStock")
          span.sort__checkbox-circle
          | Только в наличии
      .sort__count
        .sort__count-title Количество: 
        .sort__count-item 
          input#count_30(type="radio" name="count" checked)
          label(for="count_30") 30
        .sort__count-item 
          input#count_50(type="radio" name="count")
          label(for="count_50") 50
        .sort__count-item 
          input#count_100(type="radio" name="count")
          label(for="count_100") 100
      .sort__view 
        .sort__view-icon 
          input#view_list(type="radio" name="view" checked)
          label(for="view_list") 
            svg(class="icon-list-2")
              use(xlink:href="img/sprite.svg#list-2")
        .sort__view-icon 
          input#view_tile(type="radio" name="view")
          label(for="view_tile") 
            svg(class="icon-tile")
              use(xlink:href="img/sprite.svg#tile")
      .sort__cart 
        svg(class="icon-cart")
          use(xlink:href="img/sprite.svg#cart")
        span 1
  // /sort

  // products
  .products
    
  // /products