extends core/base.pug

block title 
  title Товары (список без фото)

block content

  h1.title.title--mb60 Материально-техническое обеспечение - Личный кабинет РАпарт - Поставка - 
    span Каталог

  include blocks/sort.pug

  // products-table
  .products-table.products-table--noimage
    table.products-table__table 
      tr 
        th Номер запчасти
        th Название запчасти
        th Кол-во
        th В наличии
        th Цена
        th 
      include blocks/products-item-table-noimage.pug
      +products-item-table-noimage('img/products/image-1.jpg', '9005000-55102', 'Компьютер T3CAS', '44 шт', 'Нет в наличии', 'от 200 000₽', 'products-table__item--nostock')
      +products-item-table-noimage('img/products/image-2.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Шайба', '44 шт', 'Будет 22.02.23', 'от 200 000₽', 'products-table__item--soonstock')
      +products-item-table-noimage('img/products/image-3.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Развертка ручная цилиндрическая', '44 шт', 'Будет 22.02.23', 'от 200 000₽', 'products-table__item--soonstock')
      +products-item-table-noimage('img/products/image-4.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Розетка', '44 шт', 'Будет 22.02.23', 'от 200 000₽', 'products-table__item--soonstock')
      +products-item-table-noimage('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменного тока', '44 шт', 'Будет 22.02.23', 'от 200 000₽', 'products-table__item--soonstock')
      +products-item-table-noimage('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменного тока', '44 шт', 'Будет 22.02.23', 'от 200 000₽', 'products-table__item--soonstock')
      +products-item-table-noimage('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменного тока', '44 шт', 'В наличии', 'от 200 000₽')
      +products-item-table-noimage('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменного тока', '44 шт', 'В наличии', 'от 200 000₽')
  // /products-table

  // modal
  .modal#cartModal
    // cart
    .cart
      .cart__products 
        .cart__head 
          .cart__title Корзина
          .cart__close.js-drop-close(data-drop="cartModal") Скрыть
            .cart__cross 
        .cart__items 
          include blocks/cart-item-noimage.pug
          +cart-item-noimage('img/products/image-1.jpg', '9005000-55102', 'Компьютер T3CAS', 'Кол-во:  <span>44 шт</span>', 'Нет в наличии', 'от 200 000₽', 'cart--nostock')
          +cart-item-noimage('img/products/image-2.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Шайба', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '157 890₽', 'cart--soonstock')
          +cart-item-noimage('img/products/no-image.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Развертка ручная цилиндрическая', 'Кол-во:  <span>12 шт</span>', 'В наличии', '157 890₽')
          +cart-item-noimage('img/products/image-9.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Розетка', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '185 800₽', 'cart--soonstock')
          +cart-item-noimage('img/products/image-3.jpg', '0,2-16-28-ХИМ.ПАС-ОСТ 1 34508-80', 'Распределительное устройство переменног...', 'Кол-во:  <span>12 шт</span>', 'Будет 22.02.23', '157 890₽', 'cart--soonstock')
      .cart__arrange 
        .cart__subhead 
          .cart__title Общая сумма
          .cart__result 530 820₽
        .cart__all Всего товаров 6 шт
        .cart__text После отправки запроса менеджер свяжется с Вами в ближайшее время
        .cart__btn.btn Оформить заказ
    // /cart
  .modal__overlay
  // /modal

  // modal
  .modal#productModal
    // product
    .product.product--noimage
      .product__content 
        .product__close.js-drop-close(data-drop="productModal") Скрыть
          .product__cross 
        .product__title 9005000-55102
        .product__name Распределительное устройство
        .product__row 
          .product__num Кол-во:  
            span 44 шт
          .product__stock Нет в наличии
          .product__price от 200 000₽
          .product__counter 
            .counter.js-counter
              .counter__btn.js-counter-minus 
                svg(class="icon-minus")
                  use(xlink:href="img/sprite.svg#minus")
              .counter__input.js-counter-input
                input(type="text" value="0" maxlength="3")
              .counter__btn.js-counter-plus 
                svg(class="icon-plus")
                  use(xlink:href="img/sprite.svg#plus")
        .product__text 
          p T3CAS® - интегрированная система расширенного наблюдения за воздушной обстановкой, размещенная в одной общей упаковке.T3CAS®-компьютер обладает свойствами TCAS II-системы с измененным программным обеспечением (Change 7.1), системы предупреждения от столкновения с землей класса А (Class A TAWS), транспондера режима S (S-транспондера) с полными возможностями приемопередающего оборудования ADS-B In/OUT.
          p TAWS-система от компании ACSS может обеспечить функции предупреждения, базирующиеся на специфических функциональных возможностях воздушного судна.
          p TAWS-система может быть применена на любом воздушном транспортном судне регионального назначения, бизнес-самолетах или на военных самолетах для обеспечения избежания несчастных случаев от столкновения воздушного судна с землей в контролируемом полете (CFIT), предоставляя операторам достаточный запас времени для проведения безопасного разворота с целью обеспечения маневрирования и избежания столкновения.
          p При обнаружении системой опасного для движения рельефа местности, система генерирует сигнал предупреждения "Выполнить уклонение от наземного объекта (Avoid Terrain)".
    // /product
  .modal__overlay
  // /modal
