/* air-datepicker */
.air-datepicker {
  background: #FFFFFF;
  border: none;
  box-shadow: -1px 10px 22px rgba(63, 63, 63, 0.06);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}
.air-datepicker-nav {
  border: none;
}
.air-datepicker-nav--title {
  &:hover {
    background: transparent;
    color: $primary_color;
    i {
      color: $primary_color;
    }
  }
}
.air-datepicker-nav--title i {
  color: $text_color;
}
.air-datepicker-body--day-name {
  color: $grayText_color;
}
.air-datepicker-cell.-current- {
  color: $primary_color;
}
.air-datepicker-cell.-focus- {
  background: transparent;
  color: $primary_color;
}
.air-datepicker-cell.-selected- {
  background-color: $primary_color;
}
.air-datepicker-cell.-selected-.-focus- {
  background-color: $primary_color;
  color: #fff;
}
.air-datepicker-nav--action {
  background-color: $gray_color;
  svg {
    width: 9px;
    height: 8px;
    fill: $grayText_color;
  }
  &:hover {
    background-color: $gray_color;
    path {
      fill: $primary_color;
    }
  }
}
.air-datepicker-nav--action path {
  fill: $grayText_color;
  stroke: none;
  transition: .1s;
}
.air-datepicker-cell.-in-range- {
  background-color: $gray_color;
}
.air-datepicker--pointer {
  display: none;
}
/* /air-datepicker */