/* categories */
.categories { 
  margin-bottom: 40px;
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__items {
    
  }
  &__items-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px; 
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 190px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 25px 40px;
    background-color: $gray_color;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    color: $text_color;
    fill: $primary_color;
    svg {
      flex-shrink: 0;
      max-width: 18px;
      max-height: 18px;
      margin-right: 15px;
    }
    &:hover {
      color: $primary_color;
    }
  }
}
/* /categories */