/* filter */
.filter { 
  margin-bottom: 30px;
  &__selects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
  }
  &__col {
    margin-top: 10px;
    margin-left: 10px;
    &--right {
      margin-left: auto;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: $gray_color;
    border-radius: 5px;
    fill: $grayText_color;
    cursor: pointer;
    user-select: none;
    svg {
      width: 17px;
      height: 17px;
      transition: 0.1s;
    }
    &:hover {
      fill: $primary_color;
    }
  }
  &__download {
    display: flex;
    align-items: center;
    fill: #219653;
    font-size: 14px;
    color: $grayText_color;
    svg {
      width: 15px;
      height: 16px;
      margin-right: 7px;
    }
    &:hover {
      color: $primary_color;
    }
  }
  &__radio-block {
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
  }
  &__radio-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -30px;
    .filter__col {
      margin-top: 10px;
      margin-left: 30px;
    }
  }
  &__radio {
    font-size: 14px;
    input {
      position: absolute;
      visibility: hidden;
      &:checked {
        ~ label {
          .filter__radio-circle {
            border-color: $primary_color;
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }
  }
  &__radio-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border-radius: 100%;
    border: 1px solid $grayText_color;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $primary_color;
      opacity: 0;
    }
  }
}
/* /filter */