/* main */
.main { 
  display: flex;
  min-height: 100vh;
  &__left {
    flex-grow: 1;
    max-width: 330px;
    padding: 22px 25px;
    border-right: 1px solid #F4F4F4;
  }
  &__logos {
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 30px;
    li {
      margin-top: 20px;
      &:not(:last-child) {
        padding-right: 20px;
        margin-right: 20px;
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 32px;
          background-color: #A9B0C6;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0,-50%);
        }
      }
    }
  }
  &__logo {
    img {
      display: block;
    }
  }
  &__right {
    flex-grow: 1;
  }
  &__right-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 22px 25px 22px 30px;
    border-bottom: 1px solid #F4F4F4;
  }
  &__right-bottom {
    padding: 30px;
  }
  &__lang {
    margin-right: 40px;
    position: relative;
  }
  &__lang-head {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: $grayText_color;
    fill: $grayText_color;
    cursor: pointer;
    user-select: none;
    transition: 0.1s;
    svg {
      width: 13px;
      height: 8px;
      margin-left: 7px;
      transition: 0.1s;
    }
    &:hover, &.is-active {
      color: $primary_color;
      fill: $primary_color;
    }
  }
  &__lang-drop {
    padding-top: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(0,10px);
    transition: 0.3s;
    &.open {
      visibility: visible;
      opacity: 1;
      transform: translate(0,0);
    }
  }
  &__drop-list {
    padding: 14px 40px 14px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: -1px 10px 22px rgba(63, 63, 63, 0.06);
    font-weight: 400;
    font-size: 14px;
    li {
      a {
        display: block;
        color: $text_color;
        &:hover {
          color: $primary_color;
        }
      }
    }
  }
}
/* /main */