/* products */
.products { 
  border-left: 1px solid $border_color;
  &__col {
    @include col(4);
    border-top: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
    border-right: 1px solid $border_color;
    &:nth-child(n+4) {
      border-top: none;
    }
  }
  &__item {
    display: flex;
    padding: 20px 30px;
    height: 100%;
    user-select: none;
  }
  &__left {
    width: 120px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    img {
      max-height: 100%;
    }
  }
  &__counter {
    
  }
  &__right {
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    transition: 0.1s;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $primary_color;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 16px;
    color: $grayText_color;
  }
  &__row {
    color: $grayText_color;
  }
  &__num {
    font-weight: 300;
    span {
      font-weight: 500;
    }
  }
  &__instock {
    
  }
  &__price {
    font-weight: 700;
    font-size: 16px;
  }
}
/* /products */