/* products */
.products { 
  border-left: 1px solid $border_color;
  &__col {
    @include col(4);
    border-top: 1px solid $border_color;
    border-bottom: 1px solid $border_color;
    border-right: 1px solid $border_color;
    &:nth-child(n+4) {
      border-top: none;
    }
  }
  &__item {
    display: flex;
    min-width: 0;
    padding: 20px 30px;
    height: 100%;
    user-select: none;
    &--nostock {
      .products__instock {
        &:before {
          background-color: #EB5757;
        }
      }
    }
    &--soonstock {
      .products__instock {
        &:before {
          background-color: #F2994A;
        }
      }
    }
    &--noimage {
      .products__title {
        margin-bottom: 30px;
      }
      .products__row {
        margin-bottom: 20px;
      }
      .products__num {
        margin-right: 40px;
      }
      .products__instock {
        margin-right: 40px;
      }
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    img {
      max-height: 100%;
    }
  }
  &__counter {
    margin-top: auto;
  }
  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    span {
      &:hover {
        color: $primary_color;
        cursor: pointer;
        user-select: none;
        transition: 0.1s;
      }
    }
  }
  &__name {
    width: 90%;
    font-weight: 600;
    font-size: 16px;
    color: $grayText_color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;
  }
  &__num {
    font-weight: 300;
    margin-right: 50px;
    color: $grayText_color;
    span {
      font-weight: 500;
    }
  }
  &__instock {
    position: relative;
    padding-left: 10px;
    color: $grayText_color;
    &:before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #219653;
      position: absolute;
      top: 12px;
      left: 0;
    }
  }
  &__price {
    font-weight: 700;
    font-size: 16px;
  }
}
/* /products */